@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

$text-color: #ffcc66;
$text-colorr: #b1bdb4;
$gold: #a19478;
$gold-dark: #998051;

$white-primary: #ffffff;
$white-secondary: #f9f9f9;
$black-primary: #16181b;
$black-secondary: #121417;
$black-light: #272a30;

$border-color: #4c4c4c;

$hover-color: #385e7a;
$active-category: #5adf91;
$active-background-category: #1f3a4e;
$hover-sidebar: #3d4147;
$active-sidebar: #ffb92e;
$active-background-sidebar: #191b1f;

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $black-primary;
  background-attachment: fixed;
  color: $text-color;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  overflow-x: hidden;
}

@mixin line-clamp($number) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $number;
  -webkit-box-orient: vertical;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $border-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gold-dark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $hover-color;
}
